In [72]:
import pickle
import pandas as pd
import numpy as np
import operator
from num2words import num2words
from sklearn.metrics import accuracy_score

In [2]:
with open('../../output/base_dict.dump', 'rb') as f:
    res = pickle.load(f)

In [3]:
test = pd.read_csv('../../input/en_test.csv')

In [4]:
test.shape

(1088564, 3)

In [5]:
test.head()

   sentence_id  token_id     before
0            0         0    Another
1            0         1  religious
2            0         2     family
3            0         3         is
4            0         4         of

In [6]:
if res.get(test["before"][0], None):
    print("a")

a

In [7]:
"a" in res

True

In [8]:
n_OOV = 0
OOVlist = []
def count_oov(x):
    global n_OOV, OOVlist, res
    if not x in res:
        if not x in OOVlist:
            OOVlist.append(x)
        n_OOV += 1
    return None
test["before"].apply(lambda x: count_oov(x))
print()

In [9]:
test["before"].nunique()

116854

In [10]:
test.shape

(1088564, 3)

In [11]:
n_OOV

78468

In [12]:
len(OOVlist)

6634

In [13]:
OOVlist

[',',
 '"',
 '52.63 km2',
 'Ghallu',
 'Rajhistan',
 '11.8 MB',
 'http://www.britannica.com/EBchecked/topic/285248/India',
 'IndiaEncyclopedia',
 'http://search.eb.com/eb/article-9061377',
 'Gtkmm',
 'SANAM',
 "Supastars'",
 'Cechin',
 'Charrin',
 'Plubbers',
 '$121,141',
 "Ahsoka's",
 'puuyi',
 'pathanu',
 'gulka',
 'ayimka',
 'theshots.co.uk',
 'Peuralinna',
 'Kaldova',
 'barid',
 'Reterink',
 'Desseria',
 'colation',
 'Yountsville',
 '526.1/km2',
 'Prescr',
 'PopServices',
 'supplementationAnti',
 'ghin',
 'Broadlink',
 'Devacarya',
 'Svabhurama',
 'automechanics',
 'Benosa',
 'Cynlais',
 '277.61 km2',
 'Talicud',
 'Estberg',
 '17th December 2015',
 'BorophaginaeX',
 'AssisiPehowski',
 'Kovachki',
 'Anagé',
 '09/08/1943',
 'CarbinesAyra',
 '1,237.1',
 '477.6/km2',
 'IIAustraliaCanadaCzechoslovakia',
 'Lozane',
 'apni',
 'rahna',
 'fitrat',
 'usool',
 'oargi',
 'hersir',
 'Naumudali',
 'Hallbjarnar',
 'halftrolls',
 'Ketils',
 'haeings',
 'unnumberedFerraro',
 '2.5 million USD',
 '045007',
 '3,435 ha',
 'Strongale',
 'Unsual',
 'Disabed',
 'Heronsbridge',
 '330-2600 BCE',
 'harappan',
 '2600-1900 BCE',
 'Mujtahidd',
 '1250059',
 'fatStrengthens',
 'July 15, 1834',
 'Badrkhan',
 'Mediensektor',
 'PartTed',
 'Kyunghyun',
 'Bahdanau',
 'December 29, 1676',
 'Yorkk',
 'Bunaua',
 'Zombinatrix',
 "hamacas'",
 '2,418 ft',
 '2 April 1672',
 'shoshin',
 'Epannes',
 '444.9',
 '171.8/km2',
 'TeedenVernon',
 'Yaqiang',
 'vumbui',
 'Kniesz',
 '1,603.1',
 'GleeOne',
 'PETit',
 'zoosemiotic',
 '283.3/km2',
 'scudderii',
 'Gattamaneni',
 'Wedlocked',
 'infoWebpage',
 "RPCS's",
 'Amahle',
 '2010-2015 SE',
 'WorldXVIII',
 'AustraliaVachellia',
 'DerlethTravellers',
 'serverredismnesiamemcachedbmy',
 'ISTATManerba',
 'dazana',
 '2,943 m',
 'Taharid',
 'SportNaturals',
 "As'ilat",
 'Manhag',
 'Kindard',
 'PowersWinter',
 'yaracuyanus',
 '872.4',
 '340.7/km2',
 '2.55 m',
 'referencesLiapi',
 'https://wikimania2015.wikimedia.org/wiki/Special:MyLanguage/Wikimaniapublished',
 'kurdls',
 'functionsGoldwater',
 '198610',
 'WebCiteCarlotta',
 'Killesbergpark',
 'Hohenpark',
 'Rockytops',
 'DoubleO',
 '304.3',
 'IndiaTamil',
 'macKayMacKay',
 'romieuxi',
 'Viies',
 'taiendatud',
 'Priyasi',
 '33.23 km2',
 'Vedvrat',
 'Woyo',
 'vitamer',
 'farnsworth',
 'Neuinterpretation',
 'Burgfriedensschlusses',
 'Szczesliwicka',
 'Burkovich',
 'Beytelmann',
 'Avenstroup',
 'Chamshil',
 '978-1-86395-429-7',
 '12"',
 'mulc',
 'March 29, 1863',
 'Yoric',
 'Toffany',
 'cornestone',
 'Berlinben',
 'dolgozott',
 'Ephixa',
 '17.5 million oz',
 'Pariyat',
 'pagehttp://www.snepmusique.com/tops-semaine/top-albums-fusionnes/',
 '26.02.2016',
 'McGrathMcGrath',
 'Annerwall',
 '102,000 sq mi',
 'Justive',
 '9780271029085',
 'AFIP&T',
 'Thiatetrazole',
 'IndigenousG',
 'Terlutte',
 'Mobola',
 'Mahobohobo',
 'Usunure',
 'Pantii',
 'SekineSekine',
 'Compassionatespirit.comBeck',
 "Rishabhadeva's",
 'July 4 2013',
 '978-0-3743-5095-6',
 'Mishanti',
 'Avzi',
 "Dilzhe'e",
 '759 million',
 'Rimlinger',
 'Gidenne',
 '16:53:20 UTC',
 'Tuesday, 13 May 2014',
 '1,400,000,000',
 "QCCI's",
 '4-8179-2022',
 'qamis',
 '22-25 RUS',
 'http://www.accessgenealogy.com/canada/biography-of-hon-william-h-brouse-m-s-m-d.htmEdwardsburgh',
 'Matilac',
 'Rogierro',
 'NITAMUR',
 'HeadmasterRev',
 'August 30th, 1948',
 'Goonbell',
 'sethiya',
 'Alexisz',
 'JewsFielding',
 'Warlus',
 'Gooloogongia',
 'Gustaff',
 'Hohenluft',
 'Relegence',
 'Gerfault',
 '58,388',
 '5,424.4 m2',
 'Legalwire',
 "Wreav's",
 'EndsongEmma',
 'Pseudocorax',
 'anacoracid',
 '0-9841859-5',
 'uredivao',
 'konkretno',
 'Stadtlanders',
 'superargentea',
 '65,938',
 'Algelse',
 'Mathusanash',
 'The 25 June 2016',
 'EARTh',
 'OMRP',
 'Palohuornas',
 'Cu4O3',
 'Shirekola',
 'SoccerwayPAOK',
 'atomocella',
 'Tenagogonus',
 'Hillborne',
 'MuseumPoinlane',
 'M407',
 'BibliographyHossack',
 '16,360 hp',
 'WCVL',
 'RTLTA',
 'I24',
 'Chuchure',
 'wunderst',
 '9 August 1880',
 'US$25.7 million',
 'Johndrow',
 'BarbourLillie',
 'BooneM',
 'BraceyGregg',
 'HarperJ',
 'KiddMike',
 'MoodyC',
 'SasserMayor',
 'HorneThe',
 '018611479',
 'http://articles.chicagotribune.com/1997-04-10/features/9704100151_1_acme-detective-agency-kids-world-is-carmen-sandiegohttp://web.archive.org/web/19980504011935/http://www.carmensandiego.com/products/productsworldplayer.htmlhttp://www.spectatornews.com/showcase/2008/09/22/what-ever-happened-to-carmen-sandiego/#sthash.CydTRYBp.dpuf',
 'whislt',
 'storrage',
 'RealClearPoliticsSean',
 "Biederbeck's",
 'Gletscherstrasse',
 '27"',
 'Windheok',
 'Papahaua',
 'statoids.comBiakoye',
 'Angelovskiy',
 '2.983 km²',
 'Makhathipi',
 '358.4 m',
 'Pigboats.com',
 'pageNavSource.org',
 'photosPigboats.com',
 'pagehttp://www.ibiblio.org/hyperwar/USN/USN-Chron/USN-Chron-1943.html',
 'WKYS-',
 'Copmbat',
 'TestIn',
 'HoodMy',
 'BitchAll',
 'FreemanHood',
 'RatP',
 "FunkDon't",
 'AfraidTragedyLet',
 "DownWho's",
 'ReferendumsAustralian',
 'Nallama',
 'GantzGhost',
 'StoriesMoonlight',
 '41.74 km/s',
 'Affirmatively',
 'websiteArlberger',
 '978-0-9854603-2-7',
 'McCrthy',
 'ceraunia',
 'CWD-',
 'AbPhillip',
 'MunJenmam',
 '3.24 million m3',
 "Minaya's",
 'Lesniski',
 'December 26th, 1895',
 'polyazo',
 'CenterUpdate',
 'PatnaSangati',
 'Gsk',
 'Fitform',
 'Agirladi',
 '£942 million',
 'Vizhnyak',
 'Milevum',
 "Austraila's",
 'GraveGaron',
 'brokest',
 'inuganda',
 'shockingpeople',
 'voicesFred',
 'Ahrensen',
 'hksrch.com',
 'Nekok',
 'dezentralen',
 'AHDE-',
 '3-8136-0021-1101 UKW',
 'MachineMarket',
 'Decisionmakers',
 'MiU',
 'Melboure',
 'MultiSIM',
 'Meheu',
 'oblastniks',
 'Conohypha',
 'depocentre',
 'gredem',
 'Montorsoli',
 '19,009',
 'GoldenCollected',
 '1 September 1602',
 'SmithGaston',
 'BECHAREF',
 '94,080',
 '03-11-2015',
 'Dhabihah',
 'hymenothrix',
 '2008-18-03',
 'phaulosema',
 'Sunjiaquan',
 'Pszesohanie',
 'agadah',
 '20140617',
 '1,898.8',
 '768.4 ha',
 'Convicvtions',
 "Gangers'",
 'storklopfer',
 'Odii',
 'nebuloarbustum',
 'BrowsingBench',
 "Kripaluji's",
 '1,622 sq mi',
 'Induta',
 'CollegeT',
 '7.17am',
 'Magklis',
 '15.75 km2',
 'Galiff',
 "Breinl's",
 'Beltoon',
 'bossiest',
 'Plazais',
 'Granify',
 '14534244',
 'Lebsanft',
 'RollerThe',
 'LandmarksLorraine',
 'Acryloyl',
 'Romvag',
 'Quarysh',
 'NotesFielding',
 'Chihlee',
 'Jrr',
 'dhur',
 '6.322 m2',
 '34-38238-239',
 'FFWDWeekly.com',
 'Dubouzet',
 '$7,343,114',
 'Unshod',
 '0-316-51163-3',
 'Stottletown',
 'siteSEPTA',
 'poecilosterna',
 '560,000 km2',
 'ReleaseRevolutionary',
 'POURING',
 '0-521-28075-3',
 '978-0-521-28075-4',
 'WorksCity',
 'Fajzullin',
 'Shanchéng',
 '322 km3',
 '10,176.00 km3',
 '2,441.35',
 'Samroka',
 'produzetaka',
 'VietnamThe',
 '0.02 mg/kg',
 'Bakhtha',
 'Northmere',
 'Transicold',
 'rijschool',
 'requestCollege',
 'ArmsFreedom',
 'Mirrani',
 '$66,588',
 '$74,113',
 'HagYogi',
 'Khorahsa',
 'Deeh',
 'Ainvelle',
 'Jan 27 2016',
 '0385236905',
 'SourcesJosef',
 'XUL-',
 'tipsier',
 '4,154.7',
 '2,581.6 mi',
 'Cervellati',
 'cymryks',
 'Pozhega',
 'HockeyNotes',
 '//www.fccps.k12.va.us/gm/lasso/Archive/2003-2004/reviews/3-29-04-punchline.htm',
 'NationalBookAwards.co.ukJones',
 'Sunday, 29 March',
 'Coolopolis',
 'Sewidan',
 'Friday October 2nd, 1835',
 'Saturday January 18th, 1862',
 '197010',
 'https://www.kaggle.com/c/MerckActivity/details/winners',
 '20 May 1625',
 'cazarma',
 'Ablancourt',
 '20-04-02',
 'Spesa',
 'Iridophores',
 'reflectin',
 'Rocus',
 'prefisc',
 'kathakalinews.com',
 'July 1, 1788',
 'hyracoids',
 'Qumram',
 'Mezga',
 'statusa',
 'tujca',
 'Yedyurappa',
 '0-231-12703-0',
 'http://www.law.cornell.edu/supct/html/07-582.ZS.htmlSophia',
 'Ramnabad',
 'http://arts.independent.co.uk/music/reviews/article2984243.ece',
 'Vemaganti',
 '073909',
 'desoxyvincaminol',
 'vincaminol',
 'vincamajine',
 'vineridine',
 'vinburnine',
 '00536-',
 '2009318',
 'KUITERT',
 'CastellanosFabian',
 'BureauBean',
 '26.29 km2',
 'November 22nd, 1937',
 'Doriel',
 'Schandelmeier',
 'Ahtes',
 'Physitheism',
 'alkalihalophilic',
 'Distriks',
 '1144 per km2',
 'Elendel',
 '0-618-00221-9',
 'Valpoort',
 'Tinghui',
 'Tingxin',
 'November 11th, 2015',
 'Unukhan',
 'Netstorm',
 'Ahivarn',
 'Muncef',
 'Ouardi',
 'Stratecast',
 '21 March 1858',
 '8.17m',
 'August 16, 2017',
 'M. O. E.',
 '12/17/1986',
 'EpcotWonders',
 'LifeEpcot',
 'historyInside',
 'chicka',
 nan,
 "Pagis's",
 'Erythropioetin',
 'Paraloxoceras',
 'textNilsen',
 'SandovalHoly',
 'BritannicaMark',
 '22: 58',
 'YOMOURI',
 '88.64 %',
 '#AlDubEBTamangPanahon',
 'Pothiawala',
 'Fattore',
 'Wesenbeeck',
 'zracna',
 '19"',
 'Branitelj',
 'Salveus',
 'www.gmanews.tv/story/220771/sports/former-nba-players-tough-teams-see-action-in-fiba-asia-champs-cupLoren',
 'Valchem',
 'INVALID',
 '80041321',
 'Dietza',
 'DMKH',
 'DMCCB',
 'July 1688',
 'Tenzetsujin',
 'Chitcanii',
 '8,225 ft',
 'paysant',
 'Mengoub',
 'Oculofacial',
 '372.4/km2',
 'Heirachy.orgBiographical',
 'http://www.regels.org/humanright.htmFroese',
 'Bretea',
 'VashemPhayer',
 '978-38296068512016',
 'Farenheight',
 "Ratanpuri's",
 '639.5',
 '329.7 million',
 '0.78 million',
 '2486-2494',
 'Herlan',
 'Bornhovd',
 'Deraisonne',
 "TaeTiSeo's",
 "t'atii",
 'maldat',
 'aixo',
 'Panxa',
 'passaras',
 "t'hi",
 'quedaras',
 'iiiMen',
 'Chlorophyllase',
 'klawr',
 "Gosport's",
 'websiteiBreastCheckNHS',
 'FactsBreakthrough',
 'Bearsdale',
 'electrocoating',
 'AyanamiAi',
 'RaoulAngel',
 'UrielFate',
 'TokiomiStanley',
 'GRELL',
 '22,800 km2',
 '176,206',
 'Kamarupeshwar',
 'Kushyar',
 'Benai',
 'Kheput',
 'Dakshnibarh',
 'Ranichak',
 'Chaipat',
 'Jyotghanashyam',
 'Khukurdaha',
 'Sahachak',
 'Dudhkomra',
 'Nishchintapur',
 'Gochhati',
 'Khanjapur',
 'Palashpai',
 'ferit',
 '#thekid',
 '01 - 6',
 'Sykhiv',
 'Oswley',
 'Curchod',
 'Jalinteng',
 'March 16th, 2016',
 '3-7995-7017-9',
 'Auob',
 'topopolis',
 'braidings',
 'Takmees',
 'Benores',
 'Cochinescu',
 'BreathingIII',
 '330 AD',
 '0.00011',
 '0.00031',
 'Buzzbomb',
 'fleethttp://www.ch-aviation.ch/aircraft.php',
 'Melaramanputhoor',
 'Nacarid',
 'Argex',
 'SavelaDynamine',
 'postverta',
 'AndesCramer',
 'Uitl',
 '0-87123-521-8',
 '4:17.99',
 'Oboronexpo',
 'http://www.armeniadiaspora.com/news/6065-parade-made-baku-realize-military-solution-to-karabakh-issue-impossible-expert.html',
 '2,429 m²',
 'SourcesAlpatov',
 '72"',
 'cyclopera',
 'C.D.E.',
 'Guanchis',
 'Guanchetos',
 'FACKA',
 '1.173',
 'Tremilis',
 'http://www.ryadovoy.ru/forum/index.php/topic,406.0.htmlFormed',
 '$35000',
 '$43000',
 'Previdenza',
 "LizQuen's",
 'XECO-',
 'NuaPlacenames',
 '2,462.5',
 '950.8/km2',
 'Newaskar',
 'TripHobo.com',
 'Abhimanyoo',
 'Altrea',
 'PrintWPEC',
 'Wijnjewoude',
 'Siebenhandl',
 'skutatoi',
 '$49,100,158',
 'grisgris',
 'perfomed',
 '280467',
 'nowadaysAn',
 '37,700 m2',
 'Polemistul',
 '.1308',
 'http://www.dawn.com/news/1243466',
 '110.3 km2',
 'flatpicked',
 'SGPD',
 '07.05.2008',
 'PerasovicZandoran',
 'Arjit',
 'Rittika',
 'bpe',
 'NAPHTALI',
 'Timesthus',
 'Seelawathi',
 'Geisow',
 'Changehealthcare.com',
 'NewChoiceHealth.com',
 'OutOfPocket.com',
 'HinduPriyadarshan',
 'Blondon',
 'Blackoal',
 'Turmhaus',
 'Poslach',
 'Zyciorys',
 'eurowyborach',
 'questionshttp://www.ertms.net/ertms/about-the-ertms-logo.aspx',
 'MCY.com',
 '$98,000,000',
 'Kropfleova',
 'faceGetting',
 '72,000 km2',
 'WarInformation',
 'Travyon',
 '1,650,000 m2',
 'golondrinasEn',
 'colgarY',
 'bevegelsene',
 'SILVERLIGHT',
 'Contanimators',
 'acreditation',
 '50,888',
 '30,134',
 'Pathiripalli',
 'Paruthipara',
 '3-13-112241-2',
 '0-86577-949',
 'Venhart',
 '36.16 km2',
 '334.77',
 '129.26 sq mi',
 'Champrepus',
 'contempoaneas',
 '8-10 1986',
 'September 11, 1803',
 'Omog',
 'Maratimba',
 'Kybalova',
 'CircuitsThe',
 'Streetare',
 'aqeous',
 'Ivanushki',
 'BATLA',
 'WellsWar',
 'SaskatchewanShellbrook',
 '44.5 km',
 'Sventezeris',
 '978-0-393-07223-5',
 'http://www.amazon.com/Spy-Heart-Third-Reich-Extraordinary-ebook',
 'Gornati',
 "Flap's",
 'Maharajpore',
 'limiteds',
 '1419147994',
 "Couponology's",
 'plandran',
 'sourcesAlex',
 'TourismNieves',
 '0.045 km2',
 'Dézert',
 'IMark',
 'Mnesiphae',
 "AkesakaMatsumoto's",
 'SHOULDER',
 "Puzinas'",
 '090266803',
 'Compestine',
 '43,905 km²',
 '4,693,700',
 'Qasgiqs',
 '8.92 billion',
 'Baefong',
 'electroencefalografistas',
 'electroencephalographists',
 'LeftLion.co.ukFred',
 'centuryExuperius',
 'centuryAstidius',
 'Isonitrilen',
 'Vadabathirakali',
 'northen',
 'CrisisCampbell',
 'http://www1.skysports.com/football/news/11750/8429521/Aldershot-hope-to-sign-Forbes',
 'Medicinenet',
 'Katarrakti',
 'reaffirme',
 'ActiiveVideo',
 'ScreenPlays',
 '13 May, 1964',
 'fovement',
 '900-700 BC,',
 'Meknasa',
 'VIIFigures',
 'March 28, 2018',
 'Fotojournalismus',
 '1997-05 MIME',
 'CycleVectis',
 'KlineStyle.com',
 'ShieldsHall',
 '72,422',
 'VUCommodores.com',
 'Garraunbaun',
 'perect',
 'PhilosophyHeld',
 '21 April 1909',
 'Iserlia',
 '973 AD',
 'Rastrakoota',
 'Karkudu-',
 'Abwartstrend',
 '1989.5',
 'Porikkha',
 '06/17/92',
 'innerstate',
 'Recordsas',
 'VeniceTriumph',
 'Chochula',
 'DeshpandeHadh',
 'OrganCollins',
 '51-28-2',
 '4,200 kJ',
 '12,995 km2',
 '2:03.46',
 'NWIFC',
 'accesse',
 'pageSparkling',
 '//www.nytimes.com/2014/09/17/arts/macarthur-awards-go-to-21-diverse-fellows.html',
 'iCARE',
 '//www.marshallscholarship.org',
 'ScholarshipDiscussion',
 'ResearchProfessor',
 'RuzicProfessor',
 'LydingM',
 'A. C. F.',
 'tuotuode',
 'seattlerep.orgBrantley',
 'Ejercitado',
 'Maximizers',
 'Dahlver',
 'NarDantalionEligorEurynome',
 'ISt',
 'Laanmae',
 '539 KB',
 "Rouvali's",
 'Kogwa',
 'Bodles',
 "Adicts'",
 'Nabarrete',
 'immigrationFiorensoli',
 "Tadokoro's",
 '1,725 sq mi',
 'BritannicaPrevic',
 'Evergrowing',
 'elanid',
 '14th October 1922',
 'Rorstrands',
 'CountriesHistory',
 'Cometriq',
 'ValidationOver',
 'Invesotors',
 '7.941',
 'arsenophilum',
 '81.6000',
 'Agao',
 'aoAgrupacionAmomokpokApadApaleBanga',
 'CavesBayaBinahan',
 'ProperBinahan',
 'UpperBuenasuerteCabadisanCabinitanCabugaoCaditaanCaleGodofredo',
 'Eyarkai',
 'illaya',
 'Mavka',
 '90.53%',
 'Borria',
 'Bourrya',
 'Lalbagi',
 'Kanfarar',
 '14 November 1880',
 'June 27, ',
 'SpringerDijk',
 'Deszendenztheorien',
 'Vitrohm',
 'Pomere',
 'pauvrete',
 'Yalgiz',
 'Alcha',
 'porphyroglossa',
 'Drora',
 'AllMovieOverview',
 'MoviesMovie',
 '13,290,000',
 '2,113,000 m3',
 '2009www.eisenbahn-kurier.de',
 'Savadkuh',
 'Favright',
 'Iceladen',
 'GjilanKosovska',
 'KamenicaNovo',
 'BrdoVitinaKosovo',
 'Hillybilly-music.com',
 '1,290 km',
 'mamager',
 'Rihtimi',
 'Galataport',
 'Lodging.com',
 '10 August 1848',
 'mdq',
 'Sproglit',
 '604141820',
 'aggressed',
 'pravozashchitniki',
 'Akteon',
 'Kachiul',
 'benchtops',
 'www.aci.aeroPingkan',
 'pezhetairos',
 'TropicosAerva',
 'najprzewielebniejszego',
 'Shouth',
 'intronsof',
 '-117,119',
 'DataFlexThis',
 'Kameniczky',
 '2,290 ha',
 'cronicar',
 'DjabeOfficial',
 'Deutungsmusters',
 '3,660 sq ft',
 'Trendopens',
 'Vagrinec',
 'senseis',
 'Snukeilt',
 'Ioruaidhe',
 'Iruaid',
 'Iruaith',
 'PERCEVALL',
 '1157423',
 'Mandocello',
 'Maillen',
 'EBML',
 '1,656.6',
 '639.6/km2',
 'Turkenkreutz',
 'mouthers',
 'Neproshin',
 'FIDEOgnjen',
 'DragaGolubenko',
 '09:20am',
 'Nonglard',
 '746 kB',
 'Kojaian',
 '$65,781,684',
 "Torrez's",
 '8,384',
 'EncyclopediasZbigniew',
 'Biowheels',
 'COBC',
 'translanted',
 'articleISTATKarla',
 '08 April 2016',
 'RORSATs',
 'Ossas',
 'Suhare',
 'Ozaze',
 'PlanetMathGeneralized',
 '1,094 km',
 '314 km/h',
 '195 mph',
 'Guamares',
 'CupB',
 '9:50.1',
 '1-86842-124-4',
 '1-85776-952',
 '54 AF',
 '27 Jan 1967',
 '4:06 PM ET',
 '10:29 PM ET',
 'Vergoritis',
 'Heliacmon',
 'Lphriam',
 '27108-',
 '8 billion USD',
 'problemsCommunicable',
 'problemsNutritional',
 'problemsEnvironmental',
 'problemsHealth',
 'JavierPor',
 'ҭ',
 '11:21 a.m. CST',
 'Takdum',
 'Milfieder',
 'LeventEmporis',
 'SapphireKiyafet',
 'Bahriyye',
 'NavySevan',
 'acki',
 'SUPERTEST',
 'Grinsbereich',
 'LoudwirePatricia',
 'Hwita',
 'Huitta',
 'headThe',
 '£67.8m',
 'Shushkovka',
 'Sidheag',
 'Puyguilhem',
 'theyi',
 'YorkPranab',
 'A$8.7 billion',
 'http://nypost.com/2011/03/20/air-jordan-washington-leads-pathways-to-b-crown/',
 'Fuessel',
 'Moatmen',
 'SomethingJewish',
 'konut',
 'Nonmotile',
 'http://wayback.archive.org/web/20151017022529/http://www.iht.com/articles/ap/2008/09/23/arts/NA-US-Alec-Baldwin.phpGeorgiades',
 'sacraium',
 'Dorsam',
 'ruscheweyhi',
 '9978',
 '1"',
 'websiteJersey',
 'Kwajok',
 ...]

## 課題の切り分け
1. OOVの扱い方(78,468/1,088,564個)
  * ルールベース
  * Trainで類似性の高い単語を参考にする
1. NonOOVの候補の選択方法
  * RNNからのSoftmax

## validデータで精度検証

In [14]:
train = pd.read_csv('../../input/en_train.csv')

In [15]:
train.shape

(9918441, 5)

In [16]:
train.head()

   sentence_id  token_id  class         before          after
0            0         0  PLAIN  Brillantaisia  Brillantaisia
1            0         1  PLAIN             is             is
2            0         2  PLAIN              a              a
3            0         3  PLAIN          genus          genus
4            0         4  PLAIN             of             of

In [17]:
train["sentence_id"].nunique()

748066

In [18]:
valid = train[train["sentence_id"]>=670000]

In [19]:
valid.shape

(1053392, 5)

In [20]:
sdict = {}
sdict['km2'] = 'square kilometers'
sdict['km'] = 'kilometers'
sdict['kg'] = 'kilograms'
sdict['lb'] = 'pounds'
sdict['dr'] = 'doctor'
sdict['m²'] = 'square meters'

In [23]:
def oleg(line):
    line = str(line)
    if line in res:
        srtd = sorted(res[line].items(), key=operator.itemgetter(1), reverse=True)
        return srtd[0][0]
    else:
        # line.split(' ')
        if len(line) > 1:
            #カンマ区切りの数字を数字のみに変換
            val = line.split(',')
            if len(val) == 2 and val[0].isdigit and val[1].isdigit:
                line = ''.join(val)

        if line.isdigit():
            #数字を変換
            srtd = line.translate(SUB)
            srtd = srtd.translate(SUP)
            srtd = srtd.translate(OTH)
            return num2words(float(srtd))
        elif len(line.split(' ')) > 1:
            #数字+単位を変換
            val = line.split(' ')
            for i, v in enumerate(val): 
                if v.isdigit():
                    srtd = v.translate(SUB)
                    srtd = srtd.translate(SUP)
                    srtd = srtd.translate(OTH)
                    val[i] = num2words(float(srtd))
                elif v in sdict:
                    val[i] = sdict[v]
            return ' '.join(val)
        else:
            return line

In [24]:
valid["pred"] = valid["before"].apply(lambda x: oleg(x))

/home/shinoda/app/pyenv/versions/3.4.3/lib/python3.4/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
valid.head()

         sentence_id  token_id  class    before     after      pred
8865049       670000         0  PLAIN   Members   Members   Members
8865050       670000         1  PLAIN        of        of        of
8865051       670000         2  PLAIN       the       the       the
8865052       670000         3  PLAIN       mob       mob       mob
8865053       670000         4  PLAIN  escorted  escorted  escorted

In [30]:
after=valid["after"].values
pred=valid["pred"].values

In [33]:
np.sum(after==pred)/valid.shape[0]

0.99765519388793533

In [36]:
pd.set_option('display.max_rows', 100)

In [37]:
valid[after!=pred]

,sentence_id,token_id,class,before,after,pred
8865415,670024,11,PLAIN,-,to,-
8865461,670027,9,PLAIN,-,to,-
8866954,670133,6,PLAIN,-,to,-
8867307,670158,24,PLAIN,-,to,-
8867870,670194,3,PLAIN,:,to,:
8868136,670212,15,ORDINAL,V,fifth,V
8868656,670250,13,ORDINAL,I,the first,I
8869648,670326,15,CARDINAL,1947,one thousand nine hundred forty seven,nineteen forty seven
8871253,670439,1,PLAIN,-,to,-
8871272,670439,20,PLAIN,-,to,-
8871613,670468,6,PLAIN,-,to,-
8871667,670471,14,DIGIT,472,four seven two,four hundred seventy two
8872241,670510,10,PLAIN,-,to,-
8873031,670571,12,PLAIN,-,to,-
8874042,670652,4,CARDINAL,1933,one thousand nine hundred thirty three,nineteen thirty three
8874434,670680,1,CARDINAL,IX,nine,IX
8875614,670765,11,ELECTRONIC,college.usc.edu/unruh/past_events/,c o l l e g e dot u s c dot e d u s l a s h u ...,c_letter o_letter l_letter l_letter e_letter g...
8875616,670765,13,ELECTRONIC,college.usc.edu/unruh/private/UnruhNews.pdfhtt...,c o l l e g e dot u s c dot e d u s l a s h u ...,c_letter o_letter l_letter l_letter e_letter g...
8876820,670854,1,PLAIN,-,to,-
8877369,670895,6,CARDINAL,1980,one thousand nine hundred eighty,nineteen eighty
8877371,670895,8,CARDINAL,1981,one thousand nine hundred eighty one,nineteen eighty one
8877466,670902,2,ELECTRONIC,Film.com,f i l m dot c o m,f_letter i_letter l_letter m_letter dot c_lett...
8877872,670935,5,PLAIN,No,number,No
8878138,670956,2,ELECTRONIC,soccerway.com,s o c c e r w a y dot c o m,s_letter o_letter c_letter c_letter e_letter r...
8878453,670983,4,PLAIN,-,to,-
8880041,671106,2,PLAIN,:,to,:
8880290,671126,2,PLAIN,:,to,:
8880527,671143,5,ELECTRONIC,http://www.archaeology.co.uk/digging/fieldwork...,h t t p colon slash slash w w w dot a r c h a ...,h_letter _letter t_letter _letter t_letter ...
8880973,671174,7,ELECTRONIC,HonestReporting.comBackground,h o n e s t r e p o r t i n g dot c o m b a c ...,h_letter o_letter n_letter e_letter s_letter t...
8881166,671191,7,DIGIT,253,two five three,two hundred fifty three
8881181,671193,1,DIGIT,747,seven four seven,seven hundred forty seven
8881368,671207,0,DIGIT,445,four four five,four hundred forty five
8881518,671219,8,CARDINAL,IV,four,i v
8882321,671275,7,LETTERS,ln,l n,lane
8882403,671280,11,DIGIT,327,three two seven,three hundred twenty seven
8882563,671289,12,DIGIT,327,three two seven,three hundred twenty seven
8884176,671404,12,PLAIN,-,to,-
8884297,671413,5,PLAIN,-,to,-
8884302,671413,10,PLAIN,-,to,-
8884307,671413,15,PLAIN,-,to,-
8886120,671538,5,PLAIN,-,to,-
8887642,671648,1,ELECTRONIC,Racing.com,r a c i n g dot c o m,r_letter a_letter c_letter i_letter n_letter g...
8887801,671659,15,PLAIN,-,to,-
8889133,671757,19,PLAIN,-,to,-
8889862,671806,8,ELECTRONIC,Courts.gov,c o u r t s dot g o v,c_letter o_letter u_letter r_letter t_letter s...
8890278,671841,10,LETTERS,id,i d,id
8890666,671872,12,DIGIT,1991,one nine nine one,nineteen ninety one
8891016,671896,7,PLAIN,-,to,-
8891669,671942,17,PLAIN,-,to,-
8891738,671946,14,CARDINAL,I,one,I
...,...,...,...,...,...,...
9894387,746286,11,PLAIN,-,to,-
9894438,746292,3,PLAIN,st,street,saint
9896353,746435,7,PLAIN,-,to,-
9896357,746435,11,PLAIN,-,to,-
9896361,746435,15,PLAIN,-,to,-
9896411,746440,1,PLAIN,:,to,:
9896583,746450,15,PLAIN,x,by,x
9897046,746484,9,PLAIN,-,to,-
9898597,746594,1,PLAIN,NELL,NELL,n e l l
9898845,746611,12,PLAIN,-,to,-
9899852,746694,0,ELECTRONIC,Idreamof.comSignor,i d r e a m o f dot c o m s i g n o r,i_letter d_letter r_letter e_letter a_letter m...
9899941,746700,2,DIGIT,2009,two o o nine,two thousand nine
9901170,746791,9,PLAIN,-,to,-
9901341,746806,5,PLAIN,:,to,:
9901597,746824,1,CARDINAL,2014,two thousand fourteen,twenty fourteen
9902825,746911,16,ELECTRONIC,sports.sohu.com,s p o r t s dot s o h u dot c o m,s_letter p_letter o_letter r_letter t_letter s...
9902843,746911,34,ELECTRONIC,sports.sina.com,s p o r t s dot s i n a dot c o m,s_letter p_letter o_letter r_letter t_letter s...
9902981,746921,5,DIGIT,1994,one nine nine four,nineteen ninety four
9903553,746962,1,PLAIN,-,to,-
9903557,746962,5,PLAIN,-,to,-
9903663,746971,17,ELECTRONIC,Academia.edu,a c a d e m i a dot e d u,a_letter c_letter a_letter d_letter e_letter m...
9903983,746994,3,ELECTRONIC,Toutelatele.com,t o u t e l a t e l e dot c o m,t_letter o_letter u_letter t_letter e_letter l...
9904096,747002,7,PLAIN,:,to,:
9904143,747006,1,PLAIN,-,to,-
9905243,747087,12,PLAIN,-,to,-
9906228,747164,17,PLAIN,-,to,-
9906235,747165,3,ELECTRONIC,3.2.1.135,t h r e e dot t w o dot o n e dot o n e t h r ...,t_letter h_letter r_letter e_letter e_letter d...
9906523,747185,10,PLAIN,-,to,-
9906648,747197,4,PLAIN,-,to,-
9906694,747199,10,PLAIN,-,to,-
9907100,747231,0,ELECTRONIC,Nepalnews.com,n e p a l n e w s dot c o m,n_letter e_letter p_letter a_letter l_letter n...
9908527,747338,11,PLAIN,:,to,:
9909917,747443,12,PLAIN,-,to,-
9910301,747475,8,PLAIN,-,to,-
9910974,747525,2,PLAIN,-,to,-
9911114,747535,1,ELECTRONIC,Timesofindia.indiatimes.com,t i m e s o f i n d i a dot i n d i a t i m e ...,t_letter i_letter m_letter e_letter s_letter o...
9911684,747572,4,PLAIN,-,to,-
9913049,747672,4,ELECTRONIC,Netease.com,n e t e a s e dot c o m,n_letter e_letter t_letter e_letter a_letter s...
9913362,747694,8,PLAIN,:,to,:
9913366,747694,12,PLAIN,:,to,:
9914049,747746,17,PLAIN,-,to,-
9914453,747778,7,PLAIN,-,to,-
9914634,747792,12,PLAIN,-,to,-
9914834,747806,11,PLAIN,-,to,-
9915177,747831,0,LETTERS,AB,a b,AB
9915577,747859,5,DIGIT,1572,one five seven two,fifteen seventy two
9915864,747881,13,ELECTRONIC,Aufemin.com,a u f e m i n dot c o m,a_letter u_letter f_letter e_letter m_letter i...
9916155,747902,0,ELECTRONIC,Mozilla.org,m o z i l l a dot o r g,m_letter o_letter z_letter i_letter l_letter l...
9916413,747924,6,PLAIN,-,to,-
9917463,748002,5,PLAIN,II,II,two

In [49]:
len(res)

4046878

In [57]:
a = {"a":1, "b":2}

In [61]:
a.values()

dict_values

In [59]:
np.sum(list(map(lambda x: len(x)>1, res.values())))

14413

In [62]:
np.sum(list(map(lambda x: len(x), res.values())))

4062394

In [64]:
(4062394-4046878 + 14413)/14413

2.0765281343231803

In [69]:
train[train["before"]=="-"].shape

(22635, 5)

In [70]:
test[test["before"]=="-"].shape

(4186, 3)

In [71]:
test.shape

(1088564, 3)

In [46]:
train[train["sentence_id"]==14]

     sentence_id  token_id     class   before                  after
157           14         0     PUNCT        "                      "
158           14         1      DATE     1987  nineteen eighty seven
159           14         2   LETTERS     ALCS                a l c s
160           14         3     PLAIN     Game                   Game
161           14         4  CARDINAL        2                    two
162           14         5  VERBATIM        -                      -
163           14         6     PLAIN  Detroit                Detroit
164           14         7     PLAIN   Tigers                 Tigers
165           14         8     PLAIN       vs                 versus

In [47]:
train[train["sentence_id"]==44]

     sentence_id  token_id  class      before                  after
550           44         0  PLAIN        Thus                   Thus
551           44         1  PUNCT           ,                      ,
552           44         2  PLAIN      during                 during
553           44         3  PLAIN         the                    the
554           44         4  PLAIN       years                  years
555           44         5   DATE        1573  fifteen seventy three
556           44         6  PLAIN           -                     to
557           44         7   DATE        1595    fifteen ninety five
558           44         8  PLAIN        they                   they
559           44         9  PLAIN     rebuilt                rebuilt
560           44        10  PLAIN         the                    the
561           44        11  PLAIN         old                    old
562           44        12  PLAIN      castle                 castle
563           44        13  PUNCT           ,                      ,
564           44        14  PLAIN        just                   just
565           44        15  PLAIN        like                   like
566           44        16  PLAIN        many                   many
567           44        17  PLAIN       other                  other
568           44        18  PLAIN     castles                castles
569           44        19  PLAIN  throughout             throughout
570           44        20  PLAIN         the                    the
571           44        21  PLAIN      island                 island
572           44        22  PUNCT           .                      .

In [65]:
valid[valid["class"]=="DATE"]

,sentence_id,token_id,class,before,after,pred
8865068,670001,7,DATE,1987,nineteen eighty seven,nineteen eighty seven
8865242,670012,9,DATE,1910,nineteen ten,nineteen ten
8865374,670021,3,DATE,2002,two thousand two,two thousand two
8865385,670023,1,DATE,1869,eighteen sixty nine,eighteen sixty nine
8865402,670023,18,DATE,1876,eighteen seventy six,eighteen seventy six
8865457,670027,5,DATE,2010,twenty ten,twenty ten
8865460,670027,8,DATE,2011,twenty eleven,twenty eleven
8865472,670028,4,DATE,2011,twenty eleven,twenty eleven
8865504,670030,2,DATE,December 2015,december twenty fifteen,december twenty fifteen
8865563,670033,16,DATE,"August 14, 2001",august fourteenth two thousand one,august fourteenth two thousand one
8865579,670035,5,DATE,1970,nineteen seventy,nineteen seventy
8865587,670035,13,DATE,1980s,nineteen eighties,nineteen eighties
8865706,670043,14,DATE,2008,two thousand eight,two thousand eight
8865716,670044,4,DATE,23 December 2008,the twenty third of december two thousand eight,the twenty third of december two thousand eight
8865733,670046,8,DATE,August 2002,august two thousand two,august two thousand two
8865863,670056,1,DATE,2005,two thousand five,two thousand five
8865887,670057,5,DATE,1995,nineteen ninety five,nineteen ninety five
8865897,670058,7,DATE,"August 13, 1996",august thirteenth nineteen ninety six,august thirteenth nineteen ninety six
8865969,670062,18,DATE,"December 18, 2003",december eighteenth two thousand three,december eighteenth two thousand three
8866041,670067,18,DATE,1948,nineteen forty eight,nineteen forty eight
8866076,670070,4,DATE,1580s,fifteen eighties,fifteen eighties
8866154,670076,5,DATE,September 11,september eleventh,september eleventh
8866156,670076,7,DATE,"November 5, 2011",november fifth twenty eleven,november fifth twenty eleven
8866173,670077,5,DATE,2002,two thousand two,two thousand two
8866289,670085,7,DATE,1971,nineteen seventy one,nineteen seventy one
8866300,670085,18,DATE,1986,nineteen eighty six,nineteen eighty six
8866331,670088,1,DATE,1987,nineteen eighty seven,nineteen eighty seven
8866388,670091,8,DATE,1873,eighteen seventy three,eighteen seventy three
8866390,670091,10,DATE,1876,eighteen seventy six,eighteen seventy six
8866428,670094,2,DATE,2011-01-21,the twenty first of january twenty eleven,the twenty first of january twenty eleven
8866432,670095,2,DATE,1865,eighteen sixty five,eighteen sixty five
8866443,670096,2,DATE,4 April 2011,the fourth of april twenty eleven,the fourth of april twenty eleven
8866503,670100,19,DATE,March 2009,march two thousand nine,march two thousand nine
8866514,670102,0,DATE,17 January 1929,the seventeenth of january nineteen twenty nine,the seventeenth of january nineteen twenty nine
8866557,670105,5,DATE,1 February 2007,the first of february two thousand seven,the first of february two thousand seven
8866596,670109,7,DATE,1963,nineteen sixty three,nineteen sixty three
8866816,670124,1,DATE,2008,two thousand eight,two thousand eight
8866841,670125,12,DATE,30 September 2003,the thirtieth of september two thousand three,the thirtieth of september two thousand three
8866953,670133,5,DATE,1510,fifteen ten,fifteen ten
8866955,670133,7,DATE,1842,eighteen forty two,eighteen forty two
8866960,670134,3,DATE,22 April 2011,the twenty second of april twenty eleven,the twenty second of april twenty eleven
8867029,670140,10,DATE,1966,nineteen sixty six,nineteen sixty six
8867042,670140,23,DATE,1966,nineteen sixty six,nineteen sixty six
8867057,670142,4,DATE,27 January 2013,the twenty seventh of january twenty thirteen,the twenty seventh of january twenty thirteen
8867097,670146,18,DATE,Oct 2005,october two thousand five,october two thousand five
8867186,670152,8,DATE,2012,twenty twelve,twenty twelve
8867227,670154,18,DATE,16 November 2010,the sixteenth of november twenty ten,the sixteenth of november twenty ten
8867241,670155,12,DATE,1989,nineteen eighty nine,nineteen eighty nine
8867286,670158,3,DATE,24 May 1930,the twenty fourth of may nineteen thirty,the twenty fourth of may nineteen thirty
8867298,670158,15,DATE,1938,nineteen thirty eight,nineteen thirty eight
...,...,...,...,...,...,...
9916296,747912,12,DATE,2009,two thousand nine,two thousand nine
9916298,747912,14,DATE,2011,twenty eleven,twenty eleven
9916311,747914,5,DATE,"April 3, 2014",april third twenty fourteen,april third twenty fourteen
9916353,747919,0,DATE,2011,twenty eleven,twenty eleven
9916362,747920,0,DATE,"July 28, 2005",july twenty eighth two thousand five,july twenty eighth two thousand five
9916412,747924,5,DATE,1861,eighteen sixty one,eighteen sixty one
9916414,747924,7,DATE,1912,nineteen twelve,nineteen twelve
9916432,747925,14,DATE,2001,two thousand one,two thousand one
9916445,747927,1,DATE,2011,twenty eleven,twenty eleven
9916468,747929,4,DATE,1989,nineteen eighty nine,nineteen eighty nine
9916488,747930,17,DATE,1960s,nineteen sixties,nineteen sixties
9916497,747931,7,DATE,1985,nineteen eighty five,nineteen eighty five
9916524,747934,4,DATE,2002,two thousand two,two thousand two
9916543,747937,5,DATE,2010,twenty ten,twenty ten
9916558,747938,3,DATE,18's,eighteens,eighteens
9916576,747939,7,DATE,1998,nineteen ninety eight,nineteen ninety eight
9916630,747943,3,DATE,2003-07-01,the first of july two thousand three,the first of july two thousand three
9916746,747950,1,DATE,"March 31, 2012",march thirty first twenty twelve,march thirty first twenty twelve
9916782,747953,5,DATE,1990,nineteen ninety,nineteen ninety
9916787,747953,10,DATE,1991,nineteen ninety one,nineteen ninety one
9916796,747954,7,DATE,2007,two thousand seven,two thousand seven
9916881,747961,5,DATE,April 2010,april twenty ten,april twenty ten
9917143,747977,3,DATE,November 2010,november twenty ten,november twenty ten
9917164,747978,18,DATE,2003,two thousand three,two thousand three
9917347,747991,13,DATE,"June 28, 2011",june twenty eighth twenty eleven,june twenty eighth twenty eleven
9917352,747992,3,DATE,2004,two thousand four,two thousand four
9917392,747996,6,DATE,1975,nineteen seventy five,nineteen seventy five
9917500,748005,8,DATE,1969,nineteen sixty nine,nineteen sixty nine
9917516,748006,5,DATE,2011,twenty eleven,twenty eleven
9917615,748011,9,DATE,1998,nineteen ninety eight,nineteen ninety eight
9917730,748018,12,DATE,1996,nineteen ninety six,nineteen ninety six
9917759,748021,4,DATE,9 May 2013,the ninth of may twenty thirteen,the ninth of may twenty thirteen
9917811,748024,20,DATE,1945,nineteen forty five,nineteen forty five
9917838,748025,25,DATE,1000,one thousand,one thousand
9917863,748028,1,DATE,1975,nineteen seventy five,nineteen seventy five
9917899,748030,1,DATE,1816,eighteen sixteen,eighteen sixteen
9917959,748033,2,DATE,October 2009,october two thousand nine,october two thousand nine
9917978,748035,5,DATE,1995,nineteen ninety five,nineteen ninety five
9917980,748035,7,DATE,2008,two thousand eight,two thousand eight
9917987,748036,4,DATE,1995,nineteen ninety five,nineteen ninety five
9918011,748038,1,DATE,1911,nineteen eleven,nineteen eleven
9918080,748042,10,DATE,12 December 1859,the twelfth of december eighteen fifty nine,the twelfth of december eighteen fifty nine
9918099,748043,17,DATE,1975,nineteen seventy five,nineteen seventy five
9918135,748046,1,DATE,2000,two thousand,two thousand
9918175,748048,3,DATE,2006,two thousand six,two thousand six
9918259,748054,1,DATE,October 1865,october eighteen sixty five,october eighteen sixty five
9918267,748054,9,DATE,14 January 1867,the fourteenth of january eighteen sixty seven,the fourteenth of january eighteen sixty seven
9918276,748054,18,DATE,1866,eighteen sixty six,eighteen sixty six
9918311,748056,8,DATE,1291,twelve ninety one,twelve ninety one
9918414,748064,6,DATE,December 2008,december two thousand eight,december two thousand eight

In [85]:
res["<TWO_DIGIT>"]

KeyError: '<TWO_DIGIT>'